.important {
  color: red;
}
img {
  float:left;
  border-radius: 4px;
  padding: 5px;
}
.text-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top:  6px solid orange;
  border-bottom: 8px solid black;
}
